@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@theme {
  --breakpoint-xs: 390px;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.features_list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  background-image: url(./assets/grayStar.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

input,textarea{
  outline: none;
}

@media screen and (max-width:768px) {
  body,html{
    font-size: 14px;
  }
}